# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
ENV/
venv/

# VSCode / IDE
.vscode/
.idea/

# Environment variables
.env
*.env

# Databases / local files
*.db
*.sqlite3

# Logs
*.log

# Mac / Linux system files
.DS_Store
Thumbs.db
